body {
    padding-top: 50px;
    font-family: 'Segoe UI', sans-serif;
    background-color: #f9f9f9;
}
footer {
    font-size: 0.9em;
    color: #999;
}
.hero {
  background: url('/static/bg-hero.jpg') no-repeat center center;
  background-size: cover;
  height: 30vh;
  padding-top: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  text-align: center;
  color: white;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 0;
}

.hero > div {
  position: relative;
  z-index: 1;
}

.hero h1, .hero p {
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8);
}
